.heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
}

.description {
    max-width: 550px;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    color: #757575;
}

.cardContainer {
    gap: 30px;
    align-items: flex-end;
}

.hr {
    width: 100%;
    max-width: 800px;
    margin: 3rem 0;
    border-top: 1px solid #dcdcdc;
}

@media (max-width: 900px) {
    .cardContainer {
        flex-direction: column;
    }
}
