.footer {
    width: 95%;
    max-width: 800px;
    text-align: left;
}

.footerItemWrapper {
    flex-wrap: wrap;
    gap: 40px;
}

.footerItem {
    width: 9rem;
}

.heading {
    margin: 0;
    font-weight: 600;
}

.itemList {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: #757575;
}

.links:hover {
    text-decoration: underline;
}
