.card {
    width: 100%;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    height: fit-content;
}

.cardHeader {
    font-size: 1rem;
    background-color: #eeeeee;
    padding: 1rem 0;
}

.heading {
    font-weight: 500;
    margin: 0;
}

.optionalDescription {
    color: #6d6d6d;
}

.cardContent {
    padding-bottom: 0.5rem;
}

.price {
    color: #737373;
}

.amount {
    font-size: 2.8rem;
    color: black;
}

.featureList {
    padding: 0;
    list-style: none;
}

.btn {
    width: 95%;
    padding: 0.6em 0;
    border: 1px solid #1975d2;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.primary {
    background-color: #1975d2;
    color: white;
}

.primary:hover {
    background-color: white;
    color: #1975d2;
}

.secondary {
    background-color: white;
    color: #1975d2;
}

.secondary:hover {
    background-color: #1975d2;
    color: white;
}

.star {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
