.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    text-align: center;
    align-items: center;
}

.justifyCenter {
    justify-content: space-between;
}
